.row {
  margin-left: 20px;
  color:#fff
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  transition: transform 450ms;
  margin-right: 10px;
}

.row__poster:hover {
  transform: scale(1.08);
}

/* .row__posterLarge {
  height: 300px;
  border: 2px solid red;
} */

.row__posterLarge img {
  height: 100%;
  max-height: 300px;
}
.row__poster img:hover {
  transform: scale(1.09);
}
/* .row__posterLarge:hover {
  transform: scale(1.09);
} */
